.tv 
{
    text-align: center;
    margin: 40px;
    
}

.tv:hover
{
    text-decoration: none;
    transform: scale(1.1); 
    transition: transform 0.2s ease-in-out; 
}
.tv2 img
{
    border-radius: 50px;
    margin:100px 0px;
}
/* Centered text */
.centered {
   color: whitesmoke;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
  }